html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}

html, body,#app {
    height: 100%;
}

ul, ol, li {
    list-style-type: none;
}

a {

    text-decoration: none;
    outline: 0;
}
a{
    color: #e67474 !important;
}
img{vertical-align: middle; border:0;display: block}
input,textarea{outline: none;background-color: transparent;}
textarea{resize: none;}
*{
 cursor:url("https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/No_Disponible.cur"),auto !important;
    user-select: none

}

.select-free,.select-free *{
    user-select: text !important;
}

.select-free::selection,.select-free *::selection{
    background-color: rgba(246,116,116,.3);
    color: #e67474;
}
strong{
    background-color: rgba(254,250,199,1);
    color: #ff3f1a;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*@font-face {*/
    /*font-family:mao;*/
    /*src:url("../fonts/华文楷体.ttf");*/

/*}*/
/*pre:before{*/
    /*display: block;*/
    /*content: "";*/
    /*background-color: red;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 3px;*/
    /*border-radius: 50%;*/
/*}*/




